<form method="post" action="{{ path('seats_delete', {'id': seat.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer cette donnée?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ seat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
