<form method="post" action="{{ path('car_fleet_delete', {'id': car_fleet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ car_fleet.id) }}">
    <button class="btn">Delete</button>
</form>
