{% extends 'base.html.twig' %}

{% block title %}Modifier une motorisation{% endblock %}

{% block body %}
<div class="container card mt-5">
    <h1 class="text-center">Modifier une motorisation</h1>
    {{ include('engines/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <div class="row text-center">
    <a href="{{ path('engines_index') }}" class="btn btn-primary  ">Retour à la liste</a>
    </div>
</div>
{% endblock %}
