<form method="post" action="{{ path('model_delete', {'id': model.id}) }}" onsubmit="Etes-vous sur de vouloir supprimer cette modéle?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ model.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
