{% extends 'base.html.twig' %}

{% block title %}Modifier marque{% endblock %}

{% block body %}
<div class="container card mt-5">
    <h1 class="text-center">Modifier une marque</h1>
    {{ include('brands/_form.html.twig', {'button_label': 'Mise à jour'}) }}
    <div class="row text-center">
    <a href="{{ path('brands_index') }}" class="btn btn-primary  ">Retour à la liste</a>
    </div>
</div>
{% endblock %}
